
    </head>
<body>
    <section >
        <div class="cabecera"></div>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <% if (!rol){ %>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">Iniciar sesión corredores </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login-admin">Iniciar sesión admin </a>
                        </li>
                    <% } %>
                    <% if (!rol) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Registro</a>
                        </li>
                    <% } %>
                    <% if(rol == "runner") { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/area-privada">Area Personal</a>
                        </li>
                    <% } %>
                    <% if(rol == "admin") {%>    
                        <li class="nav-item">
                            <a class="nav-link" href="/area-admin">Administrador</a>
                        </li>
                    <% } %>

                    <% if(rol) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Cerrar sesión</a>
                        </li>
                    <% } %>
                    
                </ul>
            </div>
            </div>
        </nav>
        <div class="banner">
            <p>Proyecto de pruebas, realizado con HTML, CSS, BOOTSTRAP, JS, NODEJS, MySQL y vistas ejs</p>
            
        </div>
    </section>